body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


form {
    display: grid;
    padding: 2em;
    background-color: bisque;
}


form input, label {
    margin: 0.4em;
    padding: 0.4em;
}